.unity-button {
    -unity-font-style: bold;
    background-image: url("project://database/Assets/Sprites/UI/Panels/panel-transparent-center-010.png?fileID=1683634519&guid=ec8f7cf39fac7da479837c226dcf4ba0&type=3#panel-transparent-center-010_0");
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(159, 159, 159);
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    -unity-slice-left: 24;
    -unity-slice-top: 24;
    -unity-slice-right: 24;
    -unity-slice-bottom: 24;
    font-size: 24px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    transition-duration: 0.15s;
    transition-property: -unity-background-image-tint-color;
    text-shadow: 2px 2px 0 rgb(84, 84, 84);
}

.unity-button:hover {
    -unity-background-image-tint-color: rgb(219, 219, 219);
}

.unity-button:active {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.5);
}

.unity-text-element {
    -unity-font-definition: resource('Fonts/Roboto-Regular');
    color: rgb(224, 224, 224);
}
